/*----------------------------------------------------*/
.sidebar-container {
    position: absolute;
    width: 248px;
    height: 859px;
    margin-top: 40px;
    margin-left: 17px;
    background: #FFFFFF;
    color: rgb(0, 0, 0);
  }

    
  .sidebar-logo {
    padding-bottom: 20px;
  }
  .club-logo-img {
    width: 179px;
    height: 60px;
  }
  
  .content-container {
    padding: 25px 0 5px 0;
  }

  .sidebar-navigation {
    padding: 0;
    margin: auto;
    list-style-type: none;
    position: relative;
  }
  
  .sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
    margin-top: 2px;
  }
  
  .sidebar-navigation li a {
    text-align: left;
    padding: 20px 10px 20px 20px;
    display: block;
    color: rgb(46, 46, 46);
    font-size: 18px;
  }

  .sidebar-navigation li a:active,
  .sidebar-navigation li a:hover,
  .sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
  }

  .sidebar-navigation li a:hover{
    color: rgb(255, 255, 255) !important;
    background-color: #165cc5;
    width: 100%;
    border-radius: 30px 30px 7px 30px;
    z-index: -1;
    -webkit-box-shadow: -1px 5px 11px -1px #165cc583; 
    box-shadow: -1px 5px 11px -1px  #165cc583;
  }
  
  .sidebar-navigation li a:hover > .link-icon {
    color: white !important;
  }

  
  /*
  .active > a {
    color: rgb(255, 255, 255) !important;
    background-color: #165cc5;
    width: 85%;
    border-radius: 30px 30px 7px 30px;
    z-index: -1;
  }
  .active svg {
    color: white !important;
  }
  */
  .active {
    color: rgb(255, 255, 255) !important;
    background-color: #165cc5;
    width: 100%;
    border-radius: 30px 30px 7px 30px;
    -webkit-box-shadow: -1px 5px 11px -1px #165cc583; 
    box-shadow: -1px 5px 11px -1px  #165cc583;
  }
  .active svg {
    color: white !important;
  }
  
  /*
  .sidebar-navigation li::before {
    background-color: #165cc5;
    border-radius: 20%;
    color: rgb(255, 255, 255);
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
  .sidebar-navigation li:hover::before {
    width: 100%;
  }
  
  .sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #6e6e6e;
    padding: 10px 15px 10px 30px;
  }
  
  .sidebar-navigation .header::before {
    background-color: transparent;
  }
  */
  .lower-sidebar {
    margin: auto;
    font-size: larger;
  }

  .sidebar-navigation .lower-sidebar li a:hover{
    background-color: #7a7979;
    border-radius: 20px;
    width: 100%;
    -webkit-box-shadow: -1px 5px 11px -1px #2e343d83; 
    box-shadow: -1px 5px 11px -1px  #232a3583;
  }


  .profile-card {
    height: 231px;
    padding-bottom:15px;
    border-radius: 30px;
    background-color:#F5F6FA;
  }

  .profile {
    height: 93px;
    color: white;
    border-radius: 25px;
    background-color: #FFAE31;
    font-size: 16px;
  }

  .profile img {
    height: 53px;
    width: 53px;
  }

  